body {
    background-color: #0648bb; /* Cambia el color de fondo según tus preferencias */
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center img {
    max-width: 100%;
    height: auto;

    margin-bottom: 20px;
}
